*{margin: 0;}
.header-main{
    background-color: #417cd5;
    padding: 15px;
}

.main-nav ul {
        list-style: none;        
        margin: 0;
        padding: 0;
        display: flex;           
        background-color: #ffffff;
        justify-content: center;
        gap: 60px;
          
        }

        .main-nav ul li {
        margin: 0;                
        }

        .main-nav ul li a {
        display: block;
        padding: 15px 80px;       
        color: rgb(63, 92, 132);             
        text-decoration: none;   
        font-family: 'Times New Roman', Times, serif;
        font-size: 18px;
        font-weight: bold;  
        margin: auto;
        margin-left: 90px;
        margin-right: 90px;
        }

        .main-nav ul li a:hover {
        background-color: #bdbdbd;   
        }

.galeri {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    padding: 40px 0;
}

.galeri-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.galeri-item img:hover {
    transform: scale(1.05);
}

.footer {
    background: #417cd5; 
    color: white;
    padding: 60px 0;
    font-family: Arial, sans-serif;
}

.footer-container {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left {
    width: 25%;
}

.footer-logo {
    width: 180px;
    margin-bottom: 20px;
}

.footer-left p {
    margin: 12px 0;
    line-height: 1.5;
}

.footer-column {
    width: 20%;
    display: flex;
    flex-direction: column;
}

.footer-column h3 {
    margin-bottom: 8px;
    font-size: 20px;
}

.footer-line {
    display: block;
    width: 70%;
    height: 3px;
    background: #F2C000;
    margin-bottom: 15px;
}

.footer-column a {
    color: white;
    text-decoration: none;
    margin: 6px 0;
    font-size: 16px;
}

.footer-column a:hover {
    opacity: 0.7;
}

